/*Login      */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background-color: #4F5D75;
}

.login__container {
    background-color: #2D3142;
    border: 0;
    margin: 0;
}
.login__header {
    text-align: center;
    color: #BFC0C0;
    padding: 20px;
}

.login__label {
    color: #BFC0C0;
    font-size: 17px;
}

.login__link {
    float: right;
    background-color: white;
}

.employee__container {
    background-color: #EF8354;
    border: 0;
    margin: 0;
}

.employee {
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background-color: #2D3142;
}

.employee__header{
    text-align: center;
    color: #2D3142;
    padding: 20px;
}

#username {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#password {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#login-button {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: #EF8354
}



/* Author */
.hidden {
    display: none;
}

.add-story__btn {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: #2D3142;
    background-color: #EF8354
}

.author-welcome {

}

.author-points {

}

.sto-container {

}

/* Stories */

.sto-box {
    background-color: gray;
}

.sto-title {

}

.sto-tagline {

}

.sto-description {

}

.sto-completion-date {

}

.sto-genre {

}

/* status */

.sta-box {
    background-color: burlywood;
}

.sta-priority-high {

}

.sta-priority-low {

}

.sta-btn {

}

/* Approval */

.app-box {
    background-color: #04AA6D;
}

.app-btn {
    
}
